.wizard-container{
    width: 70%;
    padding: 2rem;
    background-color: white;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    margin: 0px;
}

/* .wizard-form {
    margin-bottom: 2rem;
} */

.wizard-btn {
    margin-top: 2rem;
}